workflows/05-trend-calculation.json
{
  "name": "05 - Trend Calculation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5bfa7f48-9638-4149-bb32-fb15f7a81ae0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    COUNT(e.email_id) AS total_emails,\n    SUM(CASE WHEN s.sentiment_label = 'positive' THEN 1 ELSE 0 END) AS positive_emails,\n    SUM(CASE WHEN s.sentiment_label = 'neutral' THEN 1 ELSE 0 END) AS neutral_emails,\n    SUM(CASE WHEN s.sentiment_label = 'negative' THEN 1 ELSE 0 END) AS negative_emails,\n    SUM(CASE WHEN r.risk_level IN ('high', 'critical') THEN 1 ELSE 0 END) AS high_risk_emails,\n    AVG(s.sentiment_score) AS average_sentiment_score,\n    AVG(r.risk_score) AS average_risk_score\nFROM emails e\nLEFT JOIN sentiment_analysis s ON e.email_id = s.email_id\nLEFT JOIN risk_analysis r ON e.email_id = r.email_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "a8e01342-fb20-4cee-a89d-35d368340cde",
      "name": "Microsoft SQL",
      "credentials": {
        "microsoftSql": {
          "id": "ucXqxHDC1UbH78Fl",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nconst reportContent = `\nMailSense AI Trend Report\n\nTotal Emails: ${data.total_emails}\nPositive Emails: ${data.positive_emails}\nNeutral Emails: ${data.neutral_emails}\nNegative Emails: ${data.negative_emails}\nHigh Risk Emails: ${data.high_risk_emails}\nAverage Sentiment Score: ${data.average_sentiment_score}\nAverage Risk Score: ${data.average_risk_score}\n\nEvaluation:\nThis report summarizes the overall sentiment and risk trends of analyzed email correspondence.\n`;\n\nreturn [\n  {\n    json: {\n      report_title: \"Daily Email Sentiment and Risk Trend Report\",\n      report_type: \"daily\",\n      start_date: \"2026-05-18\",\n      end_date: \"2026-05-18\",\n      report_content: reportContent,\n      generated_by: 5\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "e3eddb3e-6362-418d-8483-d2a831bac70f",
      "name": "Generate Trend Report"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO reports (\n    report_title,\n    report_type,\n    start_date,\n    end_date,\n    report_content,\n    generated_by\n)\nVALUES (\n    '{{$json.report_title}}',\n    '{{$json.report_type}}',\n    '{{$json.start_date}}',\n    '{{$json.end_date}}',\n    '{{$json.report_content}}',\n    {{$json.generated_by}}\n);\n\nINSERT INTO workflow_logs (\n    workflow_name,\n    email_id,\n    execution_status,\n    log_message\n)\nVALUES (\n    '05 - Trend Calculation',\n    NULL,\n    'success',\n    'Trend report generated and saved by n8n workflow.'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "c493ed3d-2c34-49be-b112-32ab13e0e7b8",
      "name": "Microsoft SQL1",
      "credentials": {
        "microsoftSql": {
          "id": "ucXqxHDC1UbH78Fl",
          "name": "Microsoft SQL account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "Generate Trend Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Trend Report": {
      "main": [
        [
          {
            "node": "Microsoft SQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8eacd4f3-b796-4482-a51b-ef993253c302",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "23ba6e784658863458f545042b21399a617263df4b20efd283d225959534d74a"
  },
  "id": "xY4E4F1kohjvXnyj",
  "tags": []
}