workflows/08-ai-reply-suggestion.json
{
  "name": "08 - AI Reply Suggestion",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2891f1c8-08ea-4b1b-be42-80ee0fdb969a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT TOP 1\n    e.email_id,\n    e.sender_email,\n    e.subject,\n    e.body,\n    s.sentiment_label,\n    r.risk_level,\n    r.recommended_action\nFROM emails e\nLEFT JOIN sentiment_analysis s ON e.email_id = s.email_id\nLEFT JOIN risk_analysis r ON e.email_id = r.email_id\nWHERE s.sentiment_label = 'negative'\n   OR r.risk_level IN ('high', 'critical')\nORDER BY e.email_id DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "3546dd81-2025-4966-9271-a1d15ffbae4e",
      "name": "Microsoft SQL",
      "credentials": {
        "microsoftSql": {
          "id": "ucXqxHDC1UbH78Fl",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const email = $json;\n\nlet tone = \"professional\";\nlet response = \"Dear customer, thank you for contacting us. We have received your message and our team will review it as soon as possible.\";\n\nif (email.risk_level === \"critical\") {\n  tone = \"urgent\";\n  response = \"Dear customer, we sincerely apologize for the inconvenience. Your issue has been escalated to our management team and will be handled with priority.\";\n} else if (email.risk_level === \"high\" || email.sentiment_label === \"negative\") {\n  tone = \"apologetic\";\n  response = \"Dear customer, we are sorry for the negative experience. We understand your concern and our support team will review your request immediately.\";\n}\n\nreturn [\n  {\n    json: {\n      email_id: email.email_id,\n      suggested_response: response,\n      tone: tone,\n      approval_status: \"pending\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "967fe9bf-2878-4874-91be-96eac89ba735",
      "name": "Generate Reply Suggestion"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_response_suggestions (\n    email_id,\n    suggested_response,\n    tone,\n    approval_status\n)\nVALUES (\n    {{$json.email_id}},\n    '{{$json.suggested_response}}',\n    '{{$json.tone}}',\n    '{{$json.approval_status}}'\n);\n\nINSERT INTO workflow_logs (\n    workflow_name,\n    email_id,\n    execution_status,\n    log_message\n)\nVALUES (\n    '08 - AI Reply Suggestion',\n    {{$json.email_id}},\n    'success',\n    'AI reply suggestion generated and saved by n8n workflow.'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "401fa400-c0ae-4f31-9ead-cca4cc6b6eb7",
      "name": "Microsoft SQL1",
      "credentials": {
        "microsoftSql": {
          "id": "ucXqxHDC1UbH78Fl",
          "name": "Microsoft SQL account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "Generate Reply Suggestion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Reply Suggestion": {
      "main": [
        [
          {
            "node": "Microsoft SQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bffbdee2-5ce0-4d69-8d5c-60ce5a59ae50",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "23ba6e784658863458f545042b21399a617263df4b20efd283d225959534d74a"
  },
  "id": "KwTJu0M4HbxLI2cN",
  "tags": []
}